# Ignore node_modules and bun's install cache
node_modules
bun.lockb

# Logs
*.log

# Build artifacts
build/
dist/

# Environment variables
.env

# Docker-specific files
Dockerfile
docker-compose.yml

# Git files
.git
.gitignore

# Editor and OS files
.vscode
.DS_Store
*.swp
